<!DOCTYPE html>
<html lang="en">

  <head>

    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>Ines & Hadi</title>

    <!-- Bootstrap core CSS -->
    <link href="vendor/bootstrap/css/bootstrap.min.css" rel="stylesheet">

    <!-- Custom fonts for this template -->
    <link rel="stylesheet" href="vendor/font-awesome/css/font-awesome.min.css">
    <link rel="stylesheet" href="vendor/simple-line-icons/css/simple-line-icons.css">
    <link href="https://fonts.googleapis.com/css?family=Lato" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Catamaran:100,200,300,400,500,600,700,800,900" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Muli" rel="stylesheet">

    <!-- Plugin CSS -->
    <link rel="stylesheet" href="device-mockups/device-mockups.min.css">

    <!-- Custom styles for this template -->
    <link href="css/new-age.css" rel="stylesheet">

  </head>

  <body id="page-top">

    <!-- Navigation -->
    <nav class="navbar navbar-expand-lg navbar-light fixed-top" id="mainNav">
      <div class="container">
        <!-- <a class="navbar-brand js-scroll-trigger" href="#page-top">Ines & Hadi</a> -->
        <button class="navbar-toggler navbar-toggler-right" type="button" data-toggle="collapse" data-target="#navbarResponsive" aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation">
          Menu
          <i class="fa fa-bars"></i>
        </button>
        <div class="collapse navbar-collapse" id="navbarResponsive">
          <ul class="navbar-nav ml-auto">
            <li class="nav-item">
              <a class="nav-link js-scroll-trigger" href="#download" style="color:black">Vous êtes invités</a>
            </li>
            <li class="nav-item">
              <a class="nav-link js-scroll-trigger" href="#features" style="color:black">Infos pratiques</a>
            </li>
            <li class="nav-item">
              <a class="nav-link js-scroll-trigger" href="#contact" style="color:black">Contact</a>
            </li>
          </ul>
        </div>
      </div>
    </nav>

    <header class="masthead">
      <div class="container h-100">
        <div class="row h-100">
          <div class="col-lg-7 my-auto">
            <div class="header-content mx-auto">
              <h1 class="mb-5" style="font-size:500%">Ines & Hadi  </h1>
              <h2 class='mb-5' style="font-size:300%">25 novembre 2017</h2>
            </div>
          </div>
          <div class="col-lg-5 my-auto">
            <div class="device-container">
              <!-- <div class="device-mockup iphone6_plus portrait white">
                <div class="device">
                  <div class="screen">

                    <img src="img/wedding.jpg" class="img-fluid" alt="">
                  </div>
                  <div class="button">

                  </div>
                </div>
              </div> -->
            </div>
          </div>
        </div>
      </div>
    </header>

    <section class="download bg-primary text-center" id="download">
      <div class="container">
        <div class="row">
          <div class="col-md-8 mx-auto">
            <h2 class="section-heading">Bienvenue sur notre site</h2><h2 class="section-heading" style="font-size:300%">
            AhlaYiswen
            مرحبا بكم
          </h2><br><br>
            <p>



Nous sommes très heureux de vous accueillir sur notre site.


Vous trouverez ici toutes les informations utiles concernant le big day : les
coordonnées de notre organisatrice de mariage, adresses, programme,...<br>


<br>


Nous nous réjouissons d’avance de vous voir le 25 novembre 2017 ! On vous embrasse !<br>



Inès & Hadi<br><br>





Votre présence à notre mariage est le plus beau des cadeaux !<br>

Cependant, nous savons que beaucoup d’entre vous désirent nous faire un petit cadeau.

Nous sommes touchés que vous vouliez nous aider à démarrer notre nouvelle vie à deux.

Nous ne faisons pas de liste mais une urne sera mise à disposition le
jour J.</p>


          </div>
        </div>
      </div>
    </section>

    <section class="features" id="features">
      <div class="container">
        <div class="section-heading text-center">
          <h2>Informations pratiques</h2>
          <!-- <p class="text-muted">C'est toujours plus simple d'avoir les info sous la main</p> -->
          <hr>
        </div>
        <div class="row">
          <div class="col-lg-4 my-auto">
            <div class="device-container">
              <div class="device-mockup iphone6_plus portrait white">
                <div class="device">
                  <div class="screen" style="background-color:white; text-align:center; font-weight:bold; font-size:100%;" id="iphone"><br>
                    <!-- Demo image for screen mockup, you can put an image here, some HTML, an animation, video, or anything else! -->
                    <!-- <img src="img/paris4.jpeg" class="img-fluid" alt=""> -->
                    <h4>En cas de besoin, vous pouvez les contacter :</h4><br>
                      <p style="text-align:left">
                    Notre organistrice - Dallal: <br>06 98 88 16 28 <br><br>
                    La soeur d'Inès - Mouna : <br>06 14 85 16 75 <br><br>
                    Le frère de Hadi - Lyes : <br>06 98 22 19 78
                      </p>

                      <div class="feature-item">
                      <i class="fa fa-phone text-primary"></i>
                    </div>
                </div>
                  <div class="button">
                    <!-- You can hook the "home button" to some JavaScript events or just remove it -->
                  </div>
                </div>
              </div>
            </div>
            <br />
          </div>

          <div class="col-lg-8 my-auto">
            <div class="container-fluid">
              <div class="row">
                <div class="col-lg-6">
                  <div class="feature-item">
                    <i class="fa fa-university text-primary" aria-hidden="true"></i>
                    <h3>10h-Mairie du 20e arrondissement de Paris</h3>
                    <p class="text-muted">6, place Gambetta, 75020 Paris<br />
                       Métro (Ligne 3)
                    </p>
                  </div>
                </div>
                <div class="col-lg-6">
                  <div class="feature-item">
                    <i class="fa fa-camera text-primary"></i>
                    <h3>11h-Séance photo en amoureux</h3>
                    <p class="text-muted">Après la cérémonie, nous partons pour un reportage photo.<br />
                    Si vous le souhaitez, venez avec nous pour quelques photos au Parc des Buttes-Chaumont (1 Rue Botzaris, 75019 Paris), nous poursuivrons ensuite l'aventure à deux.</p>
                  </div>
                </div>
              </div>
              <div class="row">
                <div class="col-lg-6">
                  <div class="feature-item">
                    <i class="fa fa-glass text-primary"></i>
                    <h3>18h-Nous commencerons par un cocktail suivi du diner</h3>
                    <p class="text-muted">Ideal Artist House - 159 Quai de Valmy, 75010 Paris</p>
                  </div>
                </div>
                <div class="col-lg-6">
                  <div class="feature-item">
                    <i class="fa fa-car text-primary"></i>
                    <h3>Parking et accès au lieu</h3>
                    <p class="text-muted">Métro : Gare de l'Est (Lignes 4, 5, 7, E), Château-Landon (Ligne 7), Colonel Fabien (Ligne 2)
                      <br />Parking Gare de l’Est P2 Saint-Martin <br> <a href="https://www.resaplace.com/fr/parking/paris-est-2-66">Réservez votre place à l'avance</a></p>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div>
        <iframe src="https://www.google.com/maps/embed?pb=!1m24!1m8!1m3!1d2624.0103783139366!2d2.3614068!3d48.8770787!3m2!1i1024!2i768!4f13.1!4m13!3e2!4m5!1s0x47e66e7328df55d3%3A0xc4f3935ac506bc6c!2sParking+EFFIA+gare+de+l&#39;est+P2+Saint-Martin%2C+Place+Du+11+Nov+1918%2C+75010+Paris!3m2!1d48.8761911!2d2.3597102999999997!4m5!1s0x47e66e74f89ed067%3A0x32d90aaac3dc0724!2s159+Quai+de+Valmy%2C+Paris!3m2!1d48.8783751!2d2.3658793!5e0!3m2!1sfr!2sfr!4v1509114435281" width="100%" height="400" frameborder="0" style="border:0" allowfullscreen></iframe>
      </div>
      <!-- width="1350" height="300" -->
    </section>

    <section class="cta">
      <div class="cta-content">
        <div class="container">
          <h2>D'ici là, n'hésitez pas à nous envoyez un email si vous avez des questions ou besoin de précisions </h2>
          <!-- <a href="#contact" class="btn btn-outline btn-xl js-scroll-trigger">Let's Get Started!</a> -->
          <ul class="list-inline list-social">
            <li class="list-inline-item social-google-plus">
              <a href="mailto:mariage.ines.hadi@gmail.com">
                <i class="fa fa-envelope"></i>
              </a>
            </li>
          </ul>
        </div>
      </div>
      <div class="overlay"></div>
    </section>

    <!-- <section class="contact bg-primary" id="contact">
      <div class="container">
        <h2>D'ici là envoyez nous un email si vous avez des questions ou besoin de précisions</h2>
        <ul class="list-inline list-social">
          <li class="list-inline-item social-google-plus">
            <a href="mailto:mariage.ines.hadi@gmail.com">
              <i class="fa fa-envelope"></i>
            </a>
          </li>
        </ul>
      </div>
    </section> -->

    <footer>
      <div class="container" id="footer">
        <p>&copy; 2017 Start Bootstrap. All Rights Reserved.</p>
        <ul class="list-inline">
          <li class="list-inline-item">
            <a href="#">Privacy</a>
          </li>
          <li class="list-inline-item">
            <a href="#">Terms</a>
          </li>
          <li class="list-inline-item">
            <a href="#">FAQ</a>
          </li>
        </ul>
      </div>
    </footer>

    <!-- Bootstrap core JavaScript -->
    <script src="vendor/jquery/jquery.min.js"></script>
    <script src="vendor/bootstrap/js/bootstrap.bundle.min.js"></script>

    <!-- Plugin JavaScript -->
    <script src="vendor/jquery-easing/jquery.easing.min.js"></script>

    <!-- Custom scripts for this template -->
    <script src="js/new-age.min.js"></script>

  </body>

</html>
